/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
}

h1 {
  letter-spacing: 8px;
  font-size: 50px;
  padding: 2rem;
}

.menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.hide {
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent-color);
  transition: all ease 0.2s;
  text-decoration: underline;
}

.gallery {
  padding: 2rem;
  background-color: lightgray;
  text-align: center;
}

figure {
  padding: 2rem;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 5rem;
  justify-content: center;
}

img {
  max-width: 100%;
  object-fit: cover;
  border: #fff solid 5px;
  box-shadow: rgb(1, 0, 0) 2.4px 2.4px 3.2px;
  cursor: pointer;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}

/* Modal Viewer */
/* coolpics.css */

/* Viewer Modal */
.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.viewer img {
  max-width: 90%;
  max-height: 90%;
}

.close-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  header {
    text-align: center;
    font-size: 30px;
  }

  h1 {
    letter-spacing: 8px;
  }

  .navList {
    text-align: center;
    display: block;
    font-size: 25px;
  }

  .gallery {
    padding: 2rem;
    text-align: center;
  }

  figure {
    grid-template-columns: 250px;
    grid-gap: 2rem;
    justify-content: center;
  }

  footer {
    text-align: center;
  }
}
